.square {
	height: 24px;
	width: 24px;
	box-sizing: border-box;
	background: #c0c0c0;
	color: #c0c0c0;
	border: outset #ccc;
	border-width: 0 1px 1px 0;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: monospace;
	font-weight: bold;
	font-size: 16px;
	user-select: none;
}

.square:not([activated]):after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-color: #c0c0c0;
	border: 2px outset #ececec;
	cursor: pointer;
}

.square[flagged]:after {
	background-image: url('flag.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 11px;
}

.num1 {
	color: blue;
}

.num2 {
	color: green;
}

.num3 {
	color: red;
}

.num4 {
	color: darkblue;
}

.num5 {
	color: brown;
}

.num6 {
	color: cyan;
}

.num7 {
	color: black;
}

.num8 {
	color: grey;
}

